.btnSaveLoad{
    border: 1px solid skyblue; 
    background-color: rgb(255, 255, 255); 
    padding: 5px;
    float: right;
    font-size : 30px;
    margin : 20px 10px;
}

.btnLearning{
    border: 10px solid white; 
    background-color: rgba(0,0,0,0); 
    padding: 5px;
    cursor: pointer;
    font-size : 18px;
}

.btnLearning:hover {
    color: rgb(145, 147, 153);
}

#epoch{
    font-size: 30px;
    font-weight: 600;
}
.dataForm{
    display: inline-block;
    height: 250px;
    width: 300px;
}
.modelSpace, .codeSpace{
    height : 400px;
    border : 1px solid skyblue;
    padding: 10px;
}

.modelSpace{
    overflow-x: auto;
    overflow-y: hidden;
    margin: 20px 0px;
}

.dataSpace, .visSpace, .resultSpace {
    float: left;
    height : 400px;
}

.dataSpace{
    width: 12%;
}

.visSpace {
    width: 70%;
    text-align: center;
    
}

.addBtn{
    border: 10px solid white; 
    background-color: rgba(0,0,0,0); 
    padding: 2px;
    cursor: pointer;
    font-size : 18px;
}

.closeBtn{
    border: 10px solid white; 
    background-color: rgba(0,0,0,0); 
    color : red;
    padding: 2px;
    cursor: pointer;
    font-size : 18px;
}
.data{
    height : 100px;
}

.addBtn, .addLayerBtn {
    padding: auto;
}
.addLayerBtn {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

.addGroup, .addLayerGroup, .addLayerDiv, .layerVis{
    display:inline-block;
}

.addLayerBtn:not(:last-child){
    border-bottom : none;
}
.MLstep, .library{
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    height: 100%;
}

.MLstep{
    float : right;
}
.MLstep.active {
    color: #000;
    border-top:2px solid red;
    background-color: aliceblue;
}
.codeSpace{
    overflow-y: auto;
    margin: 0px;
}
